<tr>
  <td><%= ride.status %></td>
  <td><%= ride.start_address %></td>
  <td><%= ride.destination_address %></td>
  <td >
    <%= link_to "Show", ride_path(ride), class: "btn btn-info"%>
  </td>
</tr>
